[
  {alinkiot, [
    {config, "etc/alinkiot.conf"},
    {plugins, []}
  ]},
  {alinkiot_dashboard, [
    {port, 18888},
    {docroot, "www/"},
    {swagger, "app/alinkiot_dashboard/priv/swagger-base.json"},
    {rewrite, "www/rewrite.conf"},
    {expire, 18000},
    {debug, true},
    {token_name, "token"},
    {access_control_allow_headers, "Origin, sessionToken, X-Requested-With, Content-Type, Accept, authorization, istoken, project"}
  ]},
  {alinkiot_mysql, [
    {mysql, [
      [
        {pool,  default},
        {host, "alink-mysql"},
        {port, 3306},
        {user, "alinkiot"},
        {password, "a112345666"},
        {database, "alinkiot"},
        {pool_size, 10},
        {query_timeout, 30000},
        {connect_timeout, 30000},
        {keep_alive, true}
      ]
    ]}
  ]}
].
